
[submodule "android/src/main/jni/openssl"]
	path = android/src/main/jni/openssl
	url = git://git.strongswan.org/android-ndk-openssl.git
	branch = ndk-static
[submodule "android/src/main/jni/stringswan"]
	path = android/src/main/jni/stringswan
	url = https://github.com/strongswan/strongswan
